<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin page</title>
</head>
<body>
    <div class="list">
    <ul>
        <li><a href="#">view product</a></li>
        <li><a href="addproduct.html">add product</a>></li>
        <li><a href="#">delete product</a>></li>
        <li><a href="#">view order</a>></li>
    </ul>
    </div>
   
</body>
</html>