<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> invalid username</h1>
</body>
</html>

}
.list{
float:right;
}
.list ul{
padding:0px;
margin:0px;
}
.list li{
list-style:none;
display:inline-block;
background:yellow;
padding:10px;
margin-left:5px;
border:1px solid #000000;
border-radius:60px;
}

.list li a{
text-decoration:none;
text-transform:uppercase;
}
.list li a:hover{
background:green;
padding:10px;
border:1px solid #000000;
border-radius:30px;

}



<div style="height: 50px;padding-top: 2px;padding-bottom: 30px; margin: -8px;; background-color: greenyellow; color:blanchedalmond">
    <h2> Welcome to Grocery Store </h2>
</div>


#16a085

#23242a